---
title: Middleman boilerplate
---

/ Assets 

- content_for(:javascripts) do
  = javascript_include_tag  "app"
  = javascript_include_tag "http://connect.soundcloud.com/sdk.js"

- content_for(:stylesheets) do
  = stylesheet_link_tag  "app"

/ Haml

%h1 Play track using soundcloud api
%a{:href => '#', :class => 'js-load-track', :data => {'track' => 'https://soundcloud.com/thisisfyfe/for-you'}} Play Fyfe 'For You'
%br
%br
%a{:href => '#', :class => 'js-play-track'} Play current track
%a{:href => '#', :class => 'js-pause-track'} Pause current track
%br
%br
%span completed = 
%span.js-timer